* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 50vh;
  padding: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

main {
  width: 100%;
  padding: 0px 5%;
}

main .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .content img {
  width: 400px;
}
